@model Spielzeuge.Models.Spielzeug

@{
    ViewBag.Title = "Details Admin";
}

<h2>Details Admin</h2>

<div>
    <h4>Spielzeug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aktiv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aktiv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ausgeliehen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ausgeliehen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpielzeugId }) |
    @Html.ActionLink("Back to List", "IndexAdmin")
</p>
