@model Spielzeuge.Models.Spielzeug

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h3>@ViewBag.ErrorMsg</h3>

<div>
    <h4>Spielzeug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bilder)
        </dt>

        <dd>
            @foreach (var item in Model.Bilder)
            {
                <img src='@Url.Action("Show", "Bilds", new { id = item.BildId })' style='max-height:200px; max-width:200px;'/>
            }
        </dd>

    </dl>
</div>

@using (Html.BeginForm("ReserveDetail", "Spielzeugs"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SpielzeugId)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Preis)
        @Html.HiddenFor(model => model.Details)
        @Html.HiddenFor(model => model.Ausgeliehen)
        @Html.HiddenFor(model => model.Aktiv)

        <div class="form-group">
            <label class = "control-label col-md-2">Datum Von:</label>
            <div class="col-md-10">
                @Html.TextBox("datumVon", "", new { @class = "date-picker" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Datum Bis:</label>
            <div class="col-md-10">
                @Html.TextBox("datumBis", "", new { @class = "date-picker" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reservieren" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<p>
    @Html.ActionLink("Back to List", "Index") 
</p>

<h3>Alle Reservierungen</h3>
<table class="table">
    <tr>
        <th>
            ReservierungsId
        </th>
        <th>
            SpielzeugId
        </th>
        <th>
            Datum Von
        </th>
        <th>
            Datum Bis
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Reservierungen)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservierungId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpielzeugId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumVon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumBis)
            </td>
        </tr>
    }
</table>
