@model IEnumerable<Spielzeuge.Models.Spielzeug>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Admin View", "IndexAdmin")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Datum Von:</label>
            <div class="col-md-10">
                @Html.TextBox("datumVon", "", new { @class = "date-picker" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Datum Bis:</label>
            <div class="col-md-10">
                @Html.TextBox("datumBis", "", new { @class = "date-picker" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Filtern" class="btn btn-default" />
            </div>
        </div>
    </div>
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ausgeliehen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ausgeliehen)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.SpielzeugId }, new { @class = "myLink" })
        </td>
        <td>
            @using (Html.BeginForm("Reserve", "Spielzeugs", FormMethod.Post, new { name = "myForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.Hidden("SpielzeugId", item.SpielzeugId)
                    @Html.Hidden("Name", item.Name)
                    @Html.Hidden("Preis", item.Preis)
                    @Html.Hidden("Details", item.Details)
                    @Html.Hidden("Ausgeliehen", item.Ausgeliehen)
                    @Html.Hidden("Aktiv", item.Aktiv)



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Reservieren" class="btn btn-default mySend" />
                    </div>
                </div>
            </div>
            }
        </td>
    </tr>
}

</table>

<script>
  $(function() {
    $('.myLink').click(function() {
        var datumVon = $('#datumVon').val();
        var datumBis = $('#datumBis').val();
        this.href = this.href + '?datumVon=' + encodeURIComponent(datumVon) + '&datumBis=' + encodeURIComponent(datumBis);
    });
  });


  $(function () {
      $("[name='myForm']").submit(function () {
          $(this).append($("[name='datumVon']"));
          $(this).append($("[name='datumBis']"));
          return true;
      });
  });
</script>
